[submodule "mdns"]
	path = mdns
	url = https://github.com/mjansson/mdns.git
[submodule "blueprint-compiler"]
	path = blueprint-compiler
	url = https://gitlab.gnome.org/jwestman/blueprint-compiler.git
[submodule "telegraf"]
	path = telegraf
	url = https://github.com/influxdata/telegraf.git
[submodule "db-test/questdb"]
	path = db-test/questdb
	url = https://github.com/questdb/questdb.git
